* {
  margin: 0;
}

.App {
  width: 100vw;
  height: 100vh;  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.App-content {
  display: flex;
  justify-content: space-between;
}

.App-content-section {
  display: flex;
  justify-content: space-between;
}

.bg-verde{
  background-color: green;
}
.bg-violet{
  background-color: rgb(140, 60, 200);
}
.bg-blue{
  background-color: royalblue;
}
.text-white{
  color: white;
  font-weight: bold;
  font-size: calc(1vw + 1vh + 8px);     
}